.gpt3__footer {
    background: var(--color-footer);
    padding-bottom: 1rem;
}

.gpt3__footer-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}

.gpt3__footer-heading h1 {
    font-family: var(--font-family);
    font-size: 62px;
    font-weight: 800;
    line-height: 75px;
    letter-spacing: -0.04em;
    margin-bottom: 1.5rem;
    width: 50%;
    text-align: center;
}

.gpt3__footer-btn {
    background: none;
    border: 1px solid white;
    color: white;
    padding: 1rem ;
    font-family: var(--font-family);
}

.gpt3__footer-links {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.gpt3__footer-links_logo p{
    margin-top: 0.5rem;
}

.gpt3__footer-links p{
    font-family: Gilroy-Medium;
    font-size: 12px;
    line-height: 14.06px;
    color: white;
    margin-bottom: 1rem;
}

.gpt3__footer-links h4 {
    font-family: Gilroy-Bold;
    font-size: 14px;
    line-height: 16.41px;
    color: white;
    margin-bottom: 1rem;
}

.gpt3__footer-rights {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
}

.gpt3__footer-rights p {
    font-family: var(--font-family);
    font-size: 12px;
    line-height: 14.06px;
    color: white;
}

@media screen and (max-width: 990px) {
    .gpt3__footer-heading h1 {
        font-size: 3rem;
        line-height: 3rem;
        width: 100%;
    }

    .gpt3__footer-links {
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }

    .gpt3__footer-links_div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
    }
}